@import 'normalize';

$form-width: 320px;
$input-width: 190px;
$large-input-width: $form-width - 28;

body {
  background: rgb(249, 249, 249);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.form-container {
  margin: auto;
  width: $form-width;
  // Setting manual height like this is a bit of a hack
  height: 300px;
  text-align: right;
  h2, p {
    text-align: center;
    line-height: 1.4;
  }
  overflow: hidden;
  position: relative;

  &>form, &>div {
    width: $form-width;
    position: absolute;
    transition: all 0.7s;

    &.ng-leave {
      left: 0;
    }
    &.ng-leave.ng-leave-active {
      left: -1.1 * $form-width;
    }
    &.ng-enter {
      left: 1.1 * $form-width;
    }
    &.ng-enter.ng-enter-active {
      left: 0;
    }
  }
}

input, textarea, select {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  width: $input-width;
  line-height: 18px;
  height: 18px;
  box-sizing: content-box;
  padding: 4px;
  margin: 9px;
  color: #555555;
  background-color: white;
  border: 1px solid #cccccc;
  transition: all 0.1s;
}

input[type=submit] {
  width: $large-input-width;
}

input[disabled] {
  color: lightgray;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
  border-color: rgb(233, 50, 45);
  box-shadow: rgb(248, 185, 183) 0px 0px 6px 0px;
}

input:focus, select:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset, rgba(82, 168, 236, 0.6) 0px 0px 8px 0px;
}

textarea {
  width: $large-input-width;
  height: 150px;
}

pre {
  margin: auto;
  width: $large-input-width;
  text-align: left;
  overflow-y: auto;
}
