<!DOCTYPE html>
<html ng-app="formApp">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="css/index.css">
  <script src="js/angular.min.js"></script>
  <script src="js/index.js"></script>
</head>
<body ng-controller="FormCtrl">
  <div ng-switch="stage">

    <form novalidate ng-switch-when="1" ng-submit="nextStage()">
      Title: <select ng-model="user.title" ng-options="title for title in titles">
        <option value="">--</option>
      </select> <br>
      First name: <input type="text" ng-model="user.firstName" required> <br>
      Last name: <input type="text" ng-model="user.lastName" required> <br>
      Date of birth: <input type="date" ng-model="user.dateOfBirth" required> <br>
      <input type="submit" value="Next">
    </form>

    <form novalidate ng-switch-when="2" ng-submit="nextStage()">
      Current location: <input type="text" ng-model="user.currentLocation" required> <br>
      Current date and time: <input type="datetime-local" ng-model="user.currentDatetime" required> <br>
      <input type="submit" value="Next">
    </form>

    <form novalidate ng-switch-when="3" ng-submit="submit()">
      <!-- TODO textfield instead of text -->
      Feedback: <br> <textarea ng-model="user.feedback" cols="30" rows="10"></textarea> <br>
      <input type="submit" value="Submit">
    </form>

    <div ng-switch-when="4">
      <p>
        Thanks for your input! Here is the information you submitted:
      </p>
      <pre>{{getUserData()}}</pre>
    </div>

  </div>
</body>
</html>
